@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
	font-family: Montserrat, sans-serif
}

.div-block-12 {
	border: 1px solid #415a6b;
	display: flex;
	flex-direction: column;
	overflow: auto;
	margin: 0 auto;
	border-radius: 0;
	padding: 0
}

#FormInner {
	width: 90%;
	max-width: 730px;
	height: 600px;
	background-color: #fff;;
}

.div_bar {
	width: 90%;
	height: 80%;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	background-color: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.fr_form {
	width: 100%;
	z-index: 2
}

.form5_text p {
	color: #415a6b;
	font-size: 1.2em !important;
	margin: auto;
	font-weight: 500;
	text-align: center;
	margin-top: auto
}

.the_bar {
	width: 25%;
	height: 100%;
	display: inline-block;
	transition: width .3s;
	background-position: auto auto;
	-webkit-background-size: 50px 50px;
	background-size: 50px 50px;
	background-color: #8cc928;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	animation: progress-bar-stripes 2s linear infinite
}

@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}

	to {
		background-position: -60px 0
	}
}

.formulaire {
	width: 100%;
	height: 70%;
	z-index: 2
}

.fr_form0 {
	color: #fff;
	font-size: 1.5em
}

.infos {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 12px;
	background: linear-gradient(36deg, #415a6b, #2a6892)
}

.infos>p {
	line-height: 32px;
	margin: 0;
	padding: 0;
	font-weight: 200;
}

.fr_form.fr_form1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 40px;
	margin: 12px auto
}

.fr_form.fr_form2 {
	display: flex;
	height: auto;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 22px
}

.fr_form.fr_form3 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-evenly;
	align-items: center;
	width: 90%;
	margin: auto
}

.fr_form.fr_form4,
.fr_form.fr_form6 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90% !important;
	margin: auto
}

.cgu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 16px 0;
}

.cgu_btn {
	display: block !important;
	border: solid 1px #415a6b;
	background-image: linear-gradient(to top, #f6f5f2 -198%, #fff 410%);
	width: 2em !important;
	height: 2em;
	margin: auto;
	cursor: pointer;
	-webkit-appearance: none !important;
	border-radius: 0 !important
}

.cgu_btn:checked {
	background-image: none;
	background: #415a6b !important;
	border: 5px solid #415a6b
}

.cgu_text {
	margin-left: 15px;
	font-size: 1.2em;
	line-height: 1.15;
	text-align: left;
	color: #415a6b;
	width: 90%
}

.donnees_text {
	text-align: center;
	color: #fff
}

.fr_form_quad {
	display: flex;
	flex-wrap: wrap !important
}

.btn_form_quad {
	position: absolute;
	height: 100% !important;
	width: 100%;
	background-color: transparent;
	z-index: 1000;
	transition: .15s ease-in-out;
	border-radius: 5px;
	cursor: pointer
}

.btn_form_quad:active,
.btn_form_quad:checked,
.btn_form_quad:hover,
.button:focus {
	transition: .15s ease-in-out;
	border: 1px solid #46c218
}

.btn_form_quad:checked {
	background: 0 0 !important
}

input[type=radio]:checked {
	-webkit-appearance: none;
	background-color: #46c218
}

input[type=radio] {
	-webkit-appearance: none;
	display: none
}

.fr_form_quad>div {
	height: 45%
}

.form6_p {
	padding: 39px 21px 38px 20px;
	border-radius: 5px;
	background-image: linear-gradient(1deg, #95ffa5 -190%, #fff 399%);
	width: 90%;
	margin: 15px auto 0
}

.form6_p>p {
	width: 80%;
	margin: auto;
	font-size: 1.3em;
	color: #31425a;
	text-align: center;
	align-self: center;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: center;
	color: #31425a
}

.form6_label {
	font-size: 23px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.52;
	letter-spacing: normal;
	text-align: center;
	color: #31425a;
	margin: 30px 0
}

.form5 {
	display: flex;
	flex-flow: column nowrap
}

.form5_p {
	margin-top: 25px;
	height: 30%;
	background: #fff;
	text-align: center;
	border-radius: 5px;
	display: flex;
	align-items: center
}

.form5_p>p {
	width: 80%;
	margin: auto;
	font-size: 1.3em;
	color: #31425a;
	text-align: center;
	align-self: center;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: center;
	color: #31425a
}

.form5_img {
	height: 80%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center
}

.form5_img>img {
	height: 60%
}

.form8 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center
}

.button-6 {
	width: 30px;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: #e3e3e3;
	cursor: pointer !important
}

.button-7 {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    font-size: 1.5em;
    text-align: center;
    width: auto;
    border: 1px solid #415a6b;
    background-color: #fff !important;
    text-transform: initial;
    padding: 8px 16px;
    color: #415a6b !important;
    margin: 22px auto;
    font-weight: 300;
}

.input-8 {
    background: #fff;
    color: #4b4b4b !important;
    font-size: 1.3em;
    width: 100%;
    padding: 10px 12px !important;
    border: solid 1px #ccc !important;
    background-image: linear-gradient(1deg, #fcfcfc -170%, #fff 370%);
}

.input-8::placeholder {
	color: #cac9c9;
	opacity: .8
}

.input-9 {
	background: #fff;
    color: #838383 !important;
    font-size: 1.3em;
    width: 100%;
    padding: 10px 12px !important;
    border: solid 1px #ccc !important;
    background-image: linear-gradient(1deg, #fcfcfc -170%, #fff 370%);
    margin: 0 0 20px 0 !important;
}

.heading-6 {
	color: #415a6b;
	font-size: 2em;
	font-weight: 500;
	text-align: center
}

.heading-7 {
	color: #415a6b;
	font-size: 2.14em;
	line-height: 50px;
	font-weight: 500;
	margin-bottom: 40px
}

.div-block-11 {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: .35;
	border: solid 1px #707070;
	background-color: #000
}

.heading-8 {
	display: block;
	margin: 0;
	color: #415a6b;
	font-weight: 400;
	font-size: 2.1em
}

.div-block-14 {
	cursor: pointer;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
	height: 85%;
	min-width: 160px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 5px;
	background-color: #fff;
	padding: 15px
}

.div-block-18 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	height: 75%;
	margin-top: auto;
	margin-bottom: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.heading-9 {
	font-size: 1.78em;
	line-height: 33px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #415a6b;
	text-align: center
}

.paragraph-9 {
	font-size: 1.45em;
	line-height: 28px;
	text-align: center;
	color: #fff;
	width: 70%
}

.FinForm {
	height: 100%;
	width: 100%;
	padding: 10% 10%;
	border-radius: 5px;
	opacity: 1;
	background-image: linear-gradient(to bottom, #004e0e, #219632);
	z-index: 10;
	font-size: 25px;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: left;
	color: #fff;
	margin: 0;
    width: 100%;
    border-radius: 0;
}

.image-5 {
	max-width: 250px
}

.form5_p>p {
	font-size: 1.75em
}

.div-block-14 {
	width: 40%;
	height: 95%
}

.paragraph-11 {
	font-size: 1.9em;
	color: #fff;
	line-height: 45px;
	font-weight: 700
}

.paragraph-11>span {
	width: 21px !important
}

.paragraph-11>span>img {
	width: .8em
}

.paragraph-10 {
	color: #777;
	font-size: 1.1em;
	width: 90%;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center
}

.paragraph-10>p {
	margin-bottom: 0
}

@media screen and (max-width:1650px) {
	.FinForm {
		font-size: 1.7em
	}
}

@media screen and (min-width:1920px) {
	.image-5 {
		max-width: 380px
	}

	.heading-6 {
		font-size: 2.45em
	}

	.button-7 {
		font-size: 1.7em
	}

	.div-block-18 {
		width: 85%
	}

	.image-7 {
		height: 100px
	}

	.paragraph-10 {
		font-size: 21px
	}

	.form5_p>p {
		font-size: 1.1em
	}

	.div-block-17 {
		margin-top: 15px
	}
}

@media screen and (min-width:1100px) {
	.fr_form1 {
		height: 5%
	}
}

@media screen and (max-width:1552px) {
	.heading-9 {
		font-size: 1.5em
	}

	.paragraph-9 {
		font-size: 1.3em;
		width: 85%
	}
}

@media screen and (max-width:992px) {
	.div-block-12 {
		margin-left: auto
	}

	.div-block-12 {
		height: 92%
	}

	.fr_form0 {
		height: 20%
	}

	.fr_form2 {
		height: 15% !important
	}

	.fr_form.fr_form3 {
		height: 60%
	}

	.button-7 {
		max-height: 55px;
		min-height: 45px
	}

	.button-7 {
		height: 65%
	}

	.paragraph-10 {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		font-size: 13px !important
	}

	.paragraph-10>p,
	.paragraph-10>span {
		margin-top: 15px
	}

	.form7 .form3 {
		height: 64%
	}

	.form7 .form2 {
		height: 13%
	}
}

@media screen and (min-width:601px) {
	.fr_form.fr_form4.lastForm {
		height: 15% !important
	}
}

@media screen and (max-width:600px) {
	.heading-7 {
		display: none
	}

	.heading-9 {
		margin-bottom: 10px
	}

	.fr_form0 {
		font-size: 1.2em
	}

	.infos>p {
		line-height: 23px
	}

	.div-block-18 {
		font-size: 1.2em;
		padding-top: 23px;
		width: 50vw
	}

	.div-block-18>h4,
	.div-block-18>p {
		line-height: 25px
	}

	.heading-6 {
		font-size: 1.4em !important;
		line-height: 26px;
		margin: 0 !important
	}

	.paragraph-11 {
		font-size: 1.4em;
		text-align: left;
		line-height: 30px;
		margin-left: 5%
	}

	.div-block-12 {
		width: 100% !important
	}
}

@media screen and (max-width:479px) {
	.fr_form.fr_form1 {
		height: 6%
	}

	.div-block-12 {
		height: 75% !important;
		margin-top: 25px
	}

	.heading-8 {
		font-size: 1.7em;
		color: #050f46
	}

	.form6,
	.formulaire4 {
		height: 70% !important
	}

	.fr_form.fr_form3 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0;
		justify-content: center;
		height: 69%;
		padding: 0 0 5% 0
	}

	.form7 .form3 {
		height: 70%
	}

	.form7 .form2 {
		height: 10% !important
	}

	.form7 .fr_form4 {
		margin-top: 15px
	}

	.formulaire7 .fr_form3 {
		height: 74% !important;
		padding: 0 15px
	}

	.cgu_text {
		font-size: 1em;
		margin-left: 5px !important;
		width: 90%;
		padding: 0;
		margin-bottom: 0
	}

	.div-block-14 {
		min-width: 40% !important;
		margin: 0 10px;
		height: 80%;
		font-size: 10px
	}

	.fr_form.fr_form4 {
		height: 15%;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}

	.button-6 {
		width: 25px;
		height: 25px
	}

	.button-7 {
		height: 70% !important;
		font-size: 15px !important
	}

	.div-block-19 {
		display: flex;
		flex-flow: column nowrap
	}

	.infos_p {
		font-size: 13px
	}

	.input-8 {
		width: 90%;
		margin: auto;
		height: 50px;
		color: #4b4b4b
	}

	.fr_form4 {
		height: 47%
	}

	.form6 .fr_form.fr_form4 .button-7,
	.formulaire4 .fr_form.fr_form4 .button-7 {
		height: 20% !important
	}

	.FinForm {
		font-size: 1.4em;
		text-align: center
	}

	.paragraph-10 {
		font-size: 1.2em
	}
}

.form-label {
	display: block;
	color: #415a6b;
	text-decoration: none;
	font-size: 1.3em;
	margin: 6px 0;
	font-weight: 300;
}

._error{
	border:1px solid red !important;
}

._valid{
	border:1px solid #8cc928 !important;
}

.cadre_script {
	min-height: 50px;
}

.radio-icon{
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

.radio-icon .radio-icon-label-container {
	width: auto;
    height: auto;
    display: block;
}

.radio-icon .radio-icon-label-container .label {
	display: block;
	align-items: flex-end;
	align-self: flex-end;
	color: #415a6b;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	font-size: 1em
}

.radio-icon .radio-icon-img-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-icon .radio-icon-input-container {
	width: auto;
    height: auto;
    display: block;
}